<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServPro - About Us</title>
    <link rel="stylesheet" href="/static/about_style.css">
</head>
<body>
    
    <div class="container">
        <div class="about-info">
            <h1>About us</h1>
            <p><strong>AutoServPro!</strong></p>
            <p>Welcome to AutoServPro, where we use your car VIN NUMBER to store accessible information about a car, may be your car or the car you'd like to get information about it. Established in 2024, our mission is to minimize using service books and enable customers to get the car information about a car that they are interested in buying. Car information is safely saved and accessed.</p>
            <p><strong>Our Mission:</strong></p>
            <p>AutoServPro's mission is to revolutionize the automotive industry by providing comprehensive and reliable vehicle history reports that empower car owners and buyers with critical information. We are dedicated to ensuring transparency and trust in the automotive market by meticulously documenting service records, accident history, ownership changes, and more.</p>
            <p><strong>Our Vision:</strong></p>
            <p>AutoServPro's vision is to transform the automotive industry by establishing a new standard of transparency and trust in vehicle transactions. We envision a future where every car buyer and owner has instant access to accurate and comprehensive vehicle history information, enabling informed decisions and fostering confidence in the marketplace. </p>
           <p><strong>Our Team:</strong></p>
            <p>AutoServPro is a pioneering company dedicated to enhancing transparency and trust in the automotive industry. </p>
            <p><strong>Contact Us:</strong></p>
            <p>If you have any questions or need further information, feel free to contact us through our <a href="/contact">Contact Page</a>.</p>
        </div>
    </div>

</body>
</html>