<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServPro - Contact & About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact_style.css') }}">
</head>
<body>
    
    <div class="container">
        <div class="contact-info">
            <h1>Contact Us</h1>
            <p><strong>AutoServPro!</strong></p>
            <p>We would love to hear from you! Whether you have a question about our products, services, or anything else, our team is ready to answer all your questions.</p>
            <p><strong>Contact Information:</strong></p>
            <p>
                Address: 2 Aubrey Matlakala St, Soshanguve-K, 0152 South Africa <br>
                Phone: (123) 456-7890<br>
                Email: <a href="autoservicepro68@gmail.com">contact@AutoServPro.com</a><br>
                Customer Support: <a href="mailto:support@AutoServPro.com">support@AutoServPro.com</a>
            </p>
            <p><strong>Business Hours:</strong></p>
            <p>
                Monday - Friday: 9:00 AM - 6:00 PM<br>
                Saturday: 10:00 AM - 4:00 PM<br>
                Sunday: Closed
            </p>
            <p><strong>Follow Us:</strong></p>
            <p class="social-links">
                <a href="https://facebook.com/kamogelophaho">Facebook</a>
                <a href="https://twitter.com/techinnovators">Twitter</a>
                <a href="https://www.linkedin.com/in/autoservice-pro-auto-repair-shop-5568a6315?trk=blended-typeahead">LinkedIn</a>
            </p>
        </div>

    </body>
</html>