{% extends "layout.html" %}
{% block title %}
 Edit Car
{% endblock %}
{% block main %}
<h1>Edit Car</h1>
<br>
<form class="container col-5 justify-content-center" action="/edit_car/{{vin}}" method="post">
    <div class="col mt-2">
        <label for="vin" class="form-label">VIN Number</label>
        <input type="text" class="form-control" id="vin" name="vin" value="{{ vin }}" required>
    </div>
    <div class="col mt-2">
        <label for="make" class="form-label">Make</label>
        <input type="text" class="form-control" id="make" name="make" value="{{ make }}" required>
    </div>
    <div class="col mt-2">
        <label for="license_plate" class="form-label">License Plate</label>
        <input type="text" class="form-control" id="license_plate" name="license_plate" value="{{ license_plate }}" required>
    </div>
    <div class="col mt-2">
        <label for="model" class="form-label">Model</label>
        <input type="text" class="form-control" id="model" name="model" value="{{ model }}" required>
    </div>
    <div class="col mt-2">
        <label for="color" class="form-label">Color</label>
        <input type="text" class="form-control" id="color" name="color" value="{{ color }}" required>
    </div>
    <div class="col mt-2">
        <label for="year" class="form-label">Year Bought</label>
        <input type="text" class="form-control" id="year" name="year" value="{{ year }}" required>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}